@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

.grid-layout {
    width: 70%;
    display: grid;
    background-color: whitesmoke;
    border: 1px solid black;
    margin: auto;

    grid-template-areas:
        'cabecera'
        'carrusel'
        'botones'
        'oradores'
        'foto'
        'formulario'
        'footer';

}

nav {
    background: #353636;
    height: 70px;
    width: 100%;
    grid-area: cabecera;
}
.logo img {
    scale: 0.7;
    height: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 10px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

/* .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}
.comprar{color: green;}

#checkbox {
    display: none; 
}*/

 /* @media(max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    } 
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#conteitemcarrusel{
    height: 400px;
    width: 100%;
     overflow: hidden;
}
.ItemCarrusel{
    height: 100%;
    position: relative;
    grid-area: carrusel;
}
.tarjetacarrusel{
height: 100%;
z-index: 1;
}
.flechascarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
#tarjeta1{background-color: blueviolet;}
#tarjeta2{background-color: steelblue;}
#tarjeta3{background-color: aquamarine;}
a{text-decoration: none;}

/* .itemcarrusel button {z-index: 2;} */

#contepuntos{ background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    grid-area: botones;
}
#contepuntos>a{
font-size: 1.5em;
}
.tarjetacarrusel > img{
    width: 100%;
    height: 100%;
}
.conteorador{
    width: 50%;
    margin: 5px auto ;
    height: auto;
    background-color: whitesmoke;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 33% 1fr;
    grid-template-rows: auto;
    grid-area: oradores;
}

.orador p {color: black;}

.orador img {height: 200px ; width: 100%;}

.contefoto{
    display: grid;
    grid-area: foto;
    width: 100%;
    margin: auto;
    grid-template-columns: 50% auto;

}
/* .playa{
    height: 500px;
} */

.playa img {width: 100%; height: 100%;}
.texto{
    background-color: rgb(19, 18, 18);
}

.texto p {
    color: white;
    margin: 20px 30px;
}

.texto h3 {color: white;
    text-align: left;
    margin: 30px;
}
.conte-form {
    grid-area: formulario;
    width: 60%;
    margin: auto;
}

.conte-form h6 {
    text-align: center;
    margin: 5px;
}

.conte-form h2 {
    text-align: center;
    margin: 5px;
}

.conte-form p {text-align: center;}
#tema {width: 100%;
    height: 100px;
}

.conte-form button {
    width: 100%;
    height: 30px;
    background-color: greenyellow;

}
